<header id="header" class="header">
	<div class="container">
		{{!-- <h1 class="logo pull-left">
			<a href="/"><span class="logo-title">Charter Temps</span></a>
        </h1> --}}
		<nav id="main-nav" class="main-nav navbar-right">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
			</div>
			<div class="navbar-collapse collapse" id="navbar-collapse">
				<ul class="nav navbar-nav">
					{{!-- <li class="nav-item"><a href="/">Home</a></li>
                    <li class="nav-item"><a href="/teachers/new">Teacher Application</a></li>
                    <li class="nav-item"><a href="/contact">Contact Us</a></li> --}}
                    {{!-- <li class="nav-item dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Documents <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
							<li><a href="/teachers/documents">Manage Documents</a></li>
                            <li><a href="/teachers/how-to-get-started">How to get started</a></li>
                            <li><a href="/teachers/faq">FAQ</a></li>
                            <li><a href="/teachers/how-job-placements-work">How Job Placements Work</a></li>
                            <li><a href="/teachers/contract-agreement">Contract Agreement</a></li>
                        </ul>
                    </li> --}}
					<li class="nav-item"><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</nav>
	</div>
</header>
