<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="pageContent col-md-8 col-md-offset-4">
        <h1 class="title-error">500</h1>
        <div class="col-md-12">
            <p class="intro">
                Oops!!! Looks like something went wrong.</p>
        </div>
        <div class="col-md-12 col-md-pull-1">
            <p  class="guide">We track these errors automatically, however if the problem persists feel free to contact us.</p></div>
        <div class="col-sm-5 col-sm-offset-1">
            <a href="/" type="submit" class="btn btn-cta btn-cta-primary">back to home</a>
        </div>
    </div>

</div>


