<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="pageContent col-md-8 col-md-offset-2">
        <h4 class="title-invalidRequest">INVALID REQUEST</h4>
        <div class="col-md-12 col-md-offset-1">
            <p class="guide">
                We track these errors automatically, however if the problem persists feel free to contact us.</p>
        </div>
        <div class="col-sm-5 col-sm-offset-4">
            <a href="/" type="submit" class="btn btn-cta btn-cta-primary">back to home</a>
        </div>
    </div>

</div>
