<div class="footer">
    Copyright @ 2017 Charter Temps
<!-- <i class="fa fa-facebook fa-lg fa-pull-right " aria-hidden="true"></i>
<i class="fa fa-twitter fa-lg fa-pull-right" aria-hidden="true"></i> -->
</div>
