<div class="modal modal-getStarted" id="getStarted-modal" tabindex="-1" role="dialog" aria-labelledby="getStartedModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 id="getStartedModalLabel" class="modal-title text-center">Get Started</h4>
            </div>
            <div class="modal-body">
                <!--<div class="social-signup text-center">
                    <a href="/agent/fbinit" class="facebook-btn btn" type="button"><i class="fa fa-facebook"></i>Sign Up with Facebook</a>
                    <p class="note">Recommended and don't worry, we won't post anything without your permission.</p>
                </div>-->
                <div class="text-center">
                    <a href="/school-sign-up" class="btn btn-cta btn-cta-primary btn-regular-signup">School Registration</a>
                </div>
                <div class="divider"><span>OR</span></div>
                <div class="text-center">
                    <a href="/teacher-sign-up" class="btn btn-cta btn-cta-primary btn-regular-signup">Teacher Registration</a>
                </div>
            </div>
        </div>
    </div>
</div>
