{{#contentFor "pageStyles"}}
    <link type="text/css" rel="stylesheet" href="/home.css" />
{{/contentFor}}
{{#contentFor "pageScripts"}}
    <script src="/mainPageApp.js"></script>
{{/contentFor}}
<input id="userDetails" type="hidden" value={{user.id}} />
<div id="root"></div>
